#Name it .env.ec2

NODE_ENV=production
PORT=4001
API_VERSION=v1
FRONTEND_ORIGIN=http://43.205.156.11:3001

DB_HOST=localhost
DB_PORT=3306
DB_NAME=mtc_stage
DB_USER="anil"
DB_PASSWORD="b5p8:9Ykn>!L2^&"
DB_DIALECT="mysql"
DB_LOGGING=""
JWT_SECRET="b3c5cb1c45f48dee3811dda3afd3103fc9520c170dbe99aca6b88c84835da6e1"
JWT_REFRESH_SECRET="076c2db2b548fab9811d1a7929a96bc181f8d43d672eeeea7285ef4f4e1230e2"
STORAGE_TYPE="local"
STORAGE_BUCKET="mct-documents"
RAZORPAY_KEY_ID="rzp_live_W4C30VchAGlEW2"
RAZORPAY_KEY_SECRET="xXdWydvpoCGsp8y4uxQISMhu"
RAZORPAY_WEBHOOK_SECRET="your_razorpay_webhook_secret"
RATE_LIMIT_WINDOW_MS=9000000
RATE_LIMIT_MAX_REQUESTS=100
